/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #d3d3d3;
    margin: 0;
    padding: 0;
    background-color: black;
    --vh: 100vh;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
body {
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
    padding-bottom: 1rem;
}
img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 1rem 0 2rem;
}
ul {
    margin: 0;
    padding: 0 0 1rem;
}
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
}
li span {
    color: #7a7a7a;
}
.contact-link, .contact-link:visited, .contact-link:active {
    color: #d3d3d3;
    text-decoration: none;
}
.contact-link:hover {
    color: white;
    cursor: pointer;
}
.main {
    margin: 0 auto;
    padding: 0;
    background-color: black;
    width: 100vw;
    max-width: 420px;
    height: 100%;
    overflow-y: auto;
    background-image: url("./cello-color.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    position: relative;
}
.language {
    margin: 10px;
    padding: 0;
    font-size: 1.2rem;
    color: #7a7a7a;
}
.language-button {
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: #7a7a7a;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.main-header {
    margin: 40vh 0 0 15px;
    padding: 0;
    font-size: 2rem;
    text-shadow: black 2px 2px 5px;
}
.main-header__subtitle {
    margin: 0 0 0 15px;
    padding: 0;
    font-size: 1rem;
    text-shadow: black 2px 2px 5px;

}
.content {
    display: none;
    background: black;
    width: 70%;
    height: 90%;
    padding: 10px 10px 90px 0;
    position: absolute;
    top: 50px;
    left: 10px;
    overflow-y: auto;
    text-align: left;
}
.menu {
    width: 100%;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    background: rgb(0,0,0);
    position: absolute;
    bottom: 0;
    -webkit-box-shadow: 0px -30px 30px 20px black;
            box-shadow: 0px -30px 30px 20px black;
}
.menu-button {
    background: none;
    border: none;
    text-decoration: none;
    margin: 0;
    padding: 0 0 10px;
    color: #d3d3d3;
    cursor: pointer;
}
.inactive {
    color: #444444;
}
.darker {
    color: #7a7a7a;
}